In [1]:
##################### CSV FILES

In [9]:
import pandas as pd
import numpy as np

In [11]:
# read data from csv
df=pd.read_csv("D:/Sony/Torrent/DataScienceDbETLwithPython/employee_details.csv")
df

       name  age
0      Sony   24
1    Pragya   25
2  Prasanna   18

In [13]:
# write data to csv
df.to_csv("D:/Sony/Torrent/DataScienceDbETLwithPython/emp_details.csv",sep=":",index=False)