In [1]:
######################## EXCEL FILES

In [5]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.5)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.4.1)

In [6]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_excel("D:\Sony\Torrent\DataScienceDbETLwithPython\employee_details.xlsx") # If sheetname is not defined, first sheet with be read
df

       name  age
0      Sony   24
1    Pragya   25
2  Prasanna   18

In [15]:
# Read specific sheet of excel file
df_age=pd.read_excel("D:\Sony\Torrent\DataScienceDbETLwithPython\employee_details.xlsx","age")
df_age

       name  age
0      Sony   24
1    Pragya   25
2  Prasanna   18

In [20]:
# Read specific sheet of excel file
df_profession=pd.read_excel("D:\Sony\Torrent\DataScienceDbETLwithPython\employee_details.xlsx","profession")
df_profession

       name profession
0      Sony         DE
1    Pragya         CE
2  Prasanna         CE

In [22]:
# Write data to excel file
df.to_excel("D:\Sony\Torrent\DataScienceDbETLwithPython\emp_details.xlsx",sheet_name="emp_details",index=False)