In [54]:
################################# MYSQL

In [55]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)

In [61]:
# SQL Operations using SQLALCHEMY
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# Drop table if exists
engine = create_engine("mysql+pymysql://root:root@localhost/6_21_master")
conn = engine.connect()
conn.execute("drop table if exists test;")

In [62]:
# Create table 
engine = create_engine("mysql+pymysql://root:root@localhost/6_21_master")
conn = engine.connect()
conn.execute("create table test(id int,name varchar(100));")

In [68]:
# Select data 
engine = create_engine("mysql+pymysql://root:root@localhost/6_21_master")
df=pd.read_sql("select id,customer_segment_id,`key`,value from fc_config",engine)
df.head()

   id  customer_segment_id               key       value
0   2                    1  credit_indicator     deposit
1   3                    1        start_date  2018-01-01
2   4                    1          end_date        None
3   5                    1   trailing_months          12
4   6                    1     last_n_months           6

In [64]:
# Update row
engine = create_engine("mysql+pymysql://root:root@localhost/6_21_master")
conn = engine.connect()
conn.execute("update fc_config set customer_segment_id=1 where customer_segment_id=0;")

In [69]:
# Delete row
engine = create_engine("mysql+pymysql://root:root@localhost/6_21_master")
conn = engine.connect()
conn.execute("delete from fc_config where `key`='debit_indicator';")

In [73]:
# Write DataFrame to MySQL
df.to_sql("test_config",conn,index=False,if_exists="append") # if_exists can be append or drop

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.25-cp38-cp38-win_amd64.whl (794 kB)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-cp38-cp38-win_amd64.whl (909 kB)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.25 protobuf-3.17.3

In [16]:
import mysql.connector
from datetime import datetime
con=mysql.connector.connect(host='127.0.0.1',
                          username="root",
                          password="root",
                          database="6_21_master")

In [29]:
def create_table(con):
    cursor=con.cursor()
    sql="""create table test(id int,name varchar(100));"""
    cursor.execute(sql)
    con.commit()
    cursor.close()

In [30]:
create_table(con)

InternalError: Unread result found

In [27]:
def drop_table(con):
    cursor=con.cursor()
    sql="""drop table test;"""
    cursor.execute(sql)
    con.commit()
    cursor.close()

In [28]:
drop_table(con)

InternalError: Unread result found